@import "variables";

// styling previous calendar
.DayPicker.DayPicker--previous {
  // This order is important.
  .CalendarDay {
    border: 0 solid lighten($react-dates-color-border-light, 3);
    padding: 0;
    box-sizing: border-box;
    color: $react-dates-color-gray;
    cursor: pointer;
    width: 35px;
    height: 35px;

    &:active {
      background: darken($react-dates-color-white, 5%);
    }
  }

  .CalendarDay--highlighted-calendar {
    background: $react-dates-color-highlighted;
    color: $react-dates-color-gray;
    cursor: default;

    &:active {
      background: $react-dates-color-secondary;
    }
  }

  .CalendarDay--outside {
    border: 0;
    cursor: default;

    &:active {
      background: $react-dates-color-white;
    }
  }

  .CalendarDay--hovered {
    background: $react-dates-color-white;
    border: 0px double darken($react-dates-color-border-light, 3);
    color: $react-dates-color-gray;
  }

  .CalendarDay--blocked-minimum-nights {
    color: $react-dates-color-gray-lighter;
    background: $react-dates-color-white;
    border: 1px solid lighten($react-dates-color-border-light, 3);
    cursor: default;

    &:active {
      background: $react-dates-color-white;
    }
  }

  .CalendarDay--selected-span {
    background: $react-dates-color-primary-2-shade-1;
    border: 0 double $react-dates-color-primary-2-shade-1;
    color: $react-dates-color-gray-dark;

    &.CalendarDay--hovered,
    &:active {
      background: lighten($react-dates-color-border-light, 7);
    }
  }

  .CalendarDay--hovered-span,
  .CalendarDay--after-hovered-start {
    background: $react-dates-color-primary-2-shade-1;
    border: 0px double $react-dates-color-primary-shade-3;
    color: $react-dates-color-gray;
  }

  .CalendarDay--selected-start,
  .CalendarDay--selected-end,
  .CalendarDay--selected {
    background: $react-dates-color-primary-2;
    border: 1px double $react-dates-color-primary-2;
    color: $react-dates-color-white;

    &:active {
      background: $react-dates-color-primary-2;
    }
  }

  .CalendarDay--blocked-calendar {
    background: $react-dates-color-gray-lighter;
    color: $react-dates-color-gray-light;
    cursor: default;

    &:active {
      background: $react-dates-color-gray-lighter;
    }
  }

  .CalendarDay--blocked-out-of-range {
    color: $react-dates-color-gray-lighter;
    background: $react-dates-color-white;
    border: 1px solid lighten($react-dates-color-border-light, 3);
    cursor: default;

    &:active {
      background: $react-dates-color-white;
    }
  }
}
