@import "variables";

.CalendarMonth {
  text-align: center;
  padding: 0 32px;
  vertical-align: top;

  &:first-of-type {
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }

  &:nth-child(2) {
    padding-right: 0px;
  }

  &:nth-child(3) {
    padding-right: 0px;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    caption: {
      caption-side: initial;
    }
  }

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.CalendarMonth--horizontal {
  display: inline-block;
  min-height: 100%;
}

.CalendarMonth--vertical {
  display: block;
}

.CalendarMonth__caption {
  color: $react-dates-color-gray-dark;
  margin-top: 32px;
  font-size: 16px;
  text-align: center;
  // necessary to not hide borders in FF
  caption-side: initial;
}

.CalendarMonth--horizontal .CalendarMonth__caption,
.CalendarMonth--vertical .CalendarMonth__caption {
  padding: 0 0 64px;
}

.CalendarMonth--vertical-scrollable .CalendarMonth__caption {
  padding: 5px 0;
}
