.DayPickerControls {
  position: relative;
  height: 46px;

  .DayPickerControls__inputs {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 23px;

    select, span, label {
      font-size: 0.9em;
      vertical-align: middle;
      margin-right: 12px;
    }

    .DateRangePickerInput {
      border: 1px solid rgb(200, 200 , 200);
      vertical-align: middle;
      margin-right: 12px;
      overflow: auto;
    }

    select {
      padding: 4px 4px 4px;
      height: 36px;
      width: auto;
      max-width: 210px;
    }

  }
}

.DayPickerControls__buttons {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 610px;

    button {
      font-size: 0.9em !important;
      padding: 8px 16px;
      border: 1px solid #c8c8c8;
      background: white;
      border-radius: 5px;
      cursor: pointer;
    }

    button.success {
      background: #58A9AC !important;
      color: white;
      border-color: #58A9AC;
    }

    button:first-child {
      margin-right: 4px;
    }
  }
