.DayPickerControls {
  position: relative;
  height: 46px;

  .DayPickerControls__inputs {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 23px;

    select, span, label {
      font-size: 0.9em;
      vertical-align: middle;
      margin-right: 8px;
    }

    input[type=checkbox] {
      font-size: 0.9em;
      vertical-align: middle;
      width     : 2em;
      height:   36px;
      margin    : 0;
      padding   : 0;
      opacity   : 0;
    }

    input[type="checkbox"] + label {
      display      : inline-block;
      margin-left  : -2em;
      line-height  : 1.5em;
    }

    input[type=checkbox] + label > span {
      display          : inline-block;
      width            : 1.5em;
      height           : 1.5em;
      margin: 0.25em 0.5em;
      border           : 0.0625em solid rgb(192,192,192);
      border-radius    : 0.25em;
      background       : rgb(224,224,224);
    }

    input[type=checkbox]:checked + label > span {
      background: #FF9D00;
    }

    input[type=checkbox]:checked + label > span:before{
      content     : '✔';
      display     : block;
      width       : 0.85em;
      color       : #FFF;
      font-size   : 1.65em;
      font-weight: 500;
      text-align: center;
      line-height : 0.85em;
    }

    .DateRangePickerInput {
      border: 1px solid rgb(200, 200 , 200);
      vertical-align: middle;
      margin-right: 8px;
      overflow: auto;
    }

    select {
      padding: 4px 4px 4px;
      height: 36px;
      width: auto;
      max-width: 210px;
    }

  }
}

.DayPickerControls__buttons {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 610px;

    button {
      font-size: 0.9em !important;
      padding: 8px 16px;
      border: 1px solid #c8c8c8;
      background: white;
      border-radius: 5px;
      cursor: pointer;
    }

    button.success {
      background: #58A9AC !important;
      color: white;
      border-color: #58A9AC;
    }

    button:first-child {
      margin-right: 4px;
    }
  }
