.DayPickerControls {
  position: relative;

  .DayPickerControls__inputs {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 23px;

    select, span, label {
      vertical-align: middle;
      margin-right: 12px;
    }

    .DateRangePicker {
      margin-right: 12px;
    }

  }
}

.DayPickerControls__buttons {
    display: inline-block;
    position: absolute;
    left: 580px;
    margin-left: 4px;

    button {
      padding: 8px 16px;
      border: 1px solid #c8c8c8;
      background: white;
      border-radius: 5px;
      cursor: pointer;
    }

    button.success {
      background: #58A9AC !important;
      color: white;
      border-color: #58A9AC;
    }

    button:first-child {
      margin-right: 4px;
    }
  }
