$react-dates-width-input: 110px !default;
$react-dates-width-input-period: 250px !default;
$react-dates-width-arrow: 20px !default;
$react-dates-width-tooltip-arrow: 20px !default;
$react-dates-width-day-picker: 276px !default;
$react-dates-spacing-vertical-picker: 46px !default;

$react-dates-color-primary: #58A9AC !default;
$react-dates-color-primary-dark: #00514a !default;
$react-dates-color-primary-shade-1: #ebf4f8 !default;
$react-dates-color-primary-shade-2: #ebf4f8 !default;
$react-dates-color-primary-shade-3: #80e8e0 !default;
$react-dates-color-primary-shade-4: #b2f1ec !default;
$react-dates-color-secondary: #007a87 !default;
$react-dates-color-white: #fff !default;
$react-dates-color-gray: #565a5c !default;
$react-dates-color-gray-dark: darken($react-dates-color-gray, 10.5%) !default;
$react-dates-color-gray-light: lighten($react-dates-color-gray, 17.8%) !default;   // #82888a
$react-dates-color-gray-lighter: #EEEEEE !default;
$react-dates-color-highlighted: lighten(#e5e5e5, 3) !default;

$react-dates-color-border: #dbdbdb !default;
$react-dates-color-border-light: #dce0e0 !default;
$react-dates-color-border-medium: #c4c4c4 !default;
$react-dates-color-placeholder-text: #757575 !default;
$react-dates-color-text: #484848 !default;
$react-dates-color-text-focus: $react-dates-color-primary !default;
$react-dates-color-focus: $react-dates-color-primary-shade-2 !default;

@import 'variables.scss';
@import 'styles.scss';

.DayPickerNavigation__prev--default,
.DayPickerNavigation__next--default {
  border: 0px solid $react-dates-color-border-light;
  background-color: transparent;
  color: $react-dates-color-placeholder-text;

  &:focus,
  &:hover {
    border: 0px solid $react-dates-color-border-medium;
    background-color: $react-dates-color-gray-lighter;
  }

  &:active {
    background: darken($react-dates-color-white, 5%);
  }
}

.ComparisonPanel {
  .DayPickerNavigation__prev--default,
  .DayPickerNavigation__next--default {

    &:focus,
    &:hover {
      border: 0px solid $react-dates-color-border-medium;
      background-color: lighten($react-dates-color-gray-lighter, 4);
    }

    &:active {
      background: darken($react-dates-color-white, 5%);
    }
  }
}

.DayPicker {
  background: $react-dates-color-white;
  position: relative;
  text-align: left;
}

.DayPicker--horizontal {
  background: $react-dates-color-white;
  box-shadow: none;

  &.DayPicker--portal {
    box-shadow: none;
    position: absolute;
    left: 50%;
    top: 50%;
  }
}

.DateRangePickerInput {
  background: transparent;
  &:hover {
    color: $react-dates-color-text-focus;
  }
}

.DateInput {
  // font
  font-weight: 400;
  font-size: 16px;
  color: $react-dates-color-placeholder-text;
  margin: 0;
  padding: 0px;

  text-align: left;
  background: transparent;
  position: relative;
  display: inline-block;
  width: $react-dates-width-input;
  vertical-align: middle;

  input {
    cursor: pointer;
  }
}

.DateInput__display-text--disabled {
  font-style: normal;
}

.DateRangePickerInput--disabled {
  background: #F5F5F6;
  color: #B2A6B5;

  .DateRangePickerInput__arrow {
    background: #F5F5F6;
    display: inline-block;
    vertical-align: middle;
  }
}

.DayPickerControls__inputs .DateInput {
  font-size: 14px;
}

.DateInput__display-text--focused {
  background: transparent;
}

.DayPickerControls__inputs {

  .DateRangePickerInput {
    border: 0px;
  }
}

.ComparisonPanel {
  position: relative;
  padding-top: 8px;
  background-color: #EEEEEE;

  .DayPicker {
    background-color: #EEEEEE;
  }

  .DateInput {
    width: 110px;

    input {
      cursor: default;
    }
  }

  .CalendarMonthGrid {
    background-color: #EEEEEE;
  }
  .CalendarDay--highlighted-calendar-span {
    background: darken($react-dates-color-highlighted, 3);
    color: $react-dates-color-gray;
    cursor: default;

    &:active {
      background: $react-dates-color-secondary;
    }
  }

  .CalendarDay--highlighted-calendar-start,
  .CalendarDay--highlighted-calendar-end {
    background: #DEDEDE;
    color: $react-dates-color-gray;
    cursor: default;
  }
}

// This order is important.
.CalendarDay {
  border: 0px solid lighten($react-dates-color-border-light, 3);
  padding: 0;
  box-sizing: border-box;
  color: $react-dates-color-gray;
  cursor: pointer;
  width: 35px;
  height: 35px;

  &:active {
    background: darken($react-dates-color-white, 5%);
  }
}

.CalendarDay--highlighted-calendar-span {
  background: $react-dates-color-highlighted;
  color: $react-dates-color-gray;
  cursor: default;

  &:active {
    background: $react-dates-color-secondary;
  }
}

.CalendarDay--highlighted-calendar-start,
.CalendarDay--highlighted-calendar-end {
  background: darken($react-dates-color-highlighted, 3);
  color: $react-dates-color-gray;
  cursor: default;
}

.CalendarDay--outside {
  border: 0;
  cursor: default;

  &:active {
    background: $react-dates-color-white;
  }
}

.CalendarDay--hovered {
  background: lighten($react-dates-color-border-light, 3);
  border: 0px double darken($react-dates-color-border-light, 3);
  color: $react-dates-color-gray;
}

.CalendarDay--blocked-minimum-nights {
  color: #cacccd;
  background: $react-dates-color-white;
  border: 0px solid lighten($react-dates-color-border-light, 3);
  cursor: default;

  &:active {
    background: $react-dates-color-white;
  }
}

.CalendarDay--selected-span {
  background: $react-dates-color-primary-shade-1;
  color: $react-dates-color-gray;

  &.CalendarDay--hovered,
  &:active {
    background: $react-dates-color-primary-shade-1;
  }

  &.CalendarDay--last-in-range {
    border-right: $react-dates-color-primary;
  }
}

.CalendarDay--hovered-span,
.CalendarDay--after-hovered-start {
  background: $react-dates-color-primary-shade-1;
  color: $react-dates-color-gray;
}

.CalendarDay--selected-start,
.CalendarDay--selected-end,
.CalendarDay--selected {
  background: $react-dates-color-primary;
  border: 1px double $react-dates-color-primary;
  color: $react-dates-color-white;

  &:active {
    background: $react-dates-color-primary;
  }
}

.CalendarDay--blocked-calendar {
  background: $react-dates-color-white;
  color: #cacccd;
  cursor: default;

  &:active {
    background: $react-dates-color-gray-lighter;
  }
}

.CalendarDay--blocked-out-of-range {
  color: #cacccd;
  background: $react-dates-color-white;
  border: 0px solid lighten($react-dates-color-border-light, 3);
  cursor: default;
  pointer-events: none;

  &:active {
    background: $react-dates-color-white;
  }
}
